.ureiyfd{
    background-color: rgba(70, 131, 180, 0.079);
    min-height: 100vh;
}
.chome{
    display: flex;
}
.leftcart{
    width: 65%;
    /* background-color: aquamarine; */
}
.rightcart{
    width: 35%;
    /* background-color: brown; */
}

.cartbox{
    width: 800px;
    min-height: 100px;
    background-color: white;
    margin-left: 53px;
    margin-top: 50px;
    border: 1px solid rgb(216, 214, 214);

}

.hgjkjkhjh{
    height: 85px;
    background-color: white;
    width: 800px;
    margin-left: 53px;
    box-shadow: 0 4px 8px 0 rgba(122, 122, 122, 0.2), 0 6px 20px 0 rgba(74, 73, 73, 0.19);

}
.hgjkjkhjh>button{
    border: 0px;
    width: 245px;
    height: 50px;
    margin-left: 520px;
    color: white;
    font-weight: 600;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(204, 200, 200, 0.19);
}
.pricebox{
    width: 400px;
    height: 348px;
    background-color: white;
    margin-left: 20px;
    margin-top: 50px;
    border: 1px solid rgb(216, 214, 214);

}
.textprice{
    color: gray;
    padding: 18px;
    border-bottom: 1px solid rgb(216, 214, 214);
    font-size: 16px;
}
.dfgjhhfdg{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    color: rgb(84, 83, 83);
}
.colorty{
    color: green;
}
.hgjkdf{
    margin: 20px;
    border-bottom: 1px dotted grey;
    margin-top: 5px;
    margin-bottom: 16px;
}
.gfdgfd{
    display: flex;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
    
}
.gfdgfd>p{
    font-size: 18px;
    font-weight: 600;
    font-family: inherit;
    color: black;

}
.dfjkhdk{
    display: flex;
   
}
.khkhjkhj{
    padding: 25px;
    border-bottom: 1px solid rgb(218, 218, 218);

}
.dfgdsuyfug{
    padding: 20px;
    padding-top: 0px;
    width: 80%;
}
.ghfdugd{
    width: 20%;
    margin-top: 8px;
}
.priceq{
    display: flex;
}
.q1{
    margin-right: 15px;
    text-decoration:line-through;
    color: grey;
    margin-top: 6px;
}
.q2{
    margin-right: 15px;
    font-weight: 600;
    font-size: 20px;

}
.q3{
    margin-right: 15px;
    color: green;
    margin-top: 6px;
    font-weight: 400;

}
.inputqsx::-webkit-outer-spin-button,
.inputqsx::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputqsx{
    text-align: center;
    margin-left: 10px;

}
.btnnqsx{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid grey;
    color: black;
    margin-left: 10px;
}
.vcxccvnm{
    display: flex;
}
.yrtyrtyt{
    margin-top: 7px;
    margin-left: 28px;
    cursor: pointer;
    font-weight: 600;
}
.yrtyrtyt:hover{
    color: blue;
}
.discounterty{
   
    color: green;
    padding-left: 20px;
    font-weight: 600;
    padding-bottom: 20px;
    font-family: inherit;
}
<<<<<<< HEAD
=======

>>>>>>> b70cde2b9147a41522a86c536519672578dec9a4
.backgroundsucess,.hfkjgdshg{
    background-color: rgba(70, 131, 180, 0.162);
    min-height: 100vh;
}

.paymentconfirmed{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

.itembox{
    background-color: white;
    width: 500px;
    height: 290px;
    box-shadow: inset;
}

.txttxtx{
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}
.suscscsf{
    padding: 25px;
    font-family: inherit;
    font-size: large;
}
.tggdfgt,.tggdfgtfg{
    text-align: center;
}
.tggdfgt>button{
    color: white;
    background-color: rgba(225, 11, 11, 0.989);
    border: 1px solid rgba(225, 20, 20, 0.989);
}
.gdfdfg{
    font-size: 20px;
    font-weight: 600;
}