.dhgdf{
    background-color: white;
    width: 1080px;
}
.rtyfh{
    width:240px; 
    height:350px;
    background-color: white;
    margin-left: 16px;
    padding-top: 60px;

}
.eriut{
    margin-top: 33px;
}