.wsxxsw{
    display: flex;
}

.qwsaaswq{
    background-color: white;
    width: 80%;
    margin-left: 14px;
    border: 4px solid white;

}
.dfgdfg{
    margin-left: 8px;
    background-color: white;
    border: 4px solid white;

}
.dbhfj{
    color: green;
    line-height: 7px;

}
.etre{
    line-height: 7px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
   
}
.erter{
    line-height: 18px;
    color: rgba(0, 0, 0, 0.529);
}
.egvwrg{
    cursor: pointer;
}
.rthfhfdh:hover{
   transition: 0.1;
   transform: scale(1.02);

}