

























 
.topnav{
    background-color:  #2874f0;
    margin-bottom: 
}
 .flipkart-logo {
    width: 75px;
    height: 20px;
    
}
.explore{
    color : white ;
    position: relative;
    font-style: italic ;
    font-size: small;
    font-weight: 400;
     letter-spacing: -.5px; 
    top: -5px;
}
.flipkart-plus-logo
{
 width: 10px;
height: 10px;
}

 .logo-area{
    margin-left: 142px;
    padding-top : 5px ;
   padding-left: 50px ;
   width : 250px ;
   padding-bottom : 2px ;
}

.plus-color{
    color: #ffe500;
    font-weight: 400;
} 