
.topnav{
    background-color:  #2874f0;
    height: 56px;
    width:100%;
}
 .flipkart-logo {
    width: 75px;
    height: 20px;
    
}
.explore{
    color : white ;
    position: relative;
    font-style: italic ;
    font-size: small;
    font-weight: 400;
     letter-spacing: -.5px; 
    top: -5px;
}
.flipkart-plus-logo
{
width: 10px;
height: 10px;
}
.arrange{
    display: flex;

}

 .logo-area{
    margin-left: 166px;
    padding-top : 5px ;
   width : 250px ;
   padding-bottom : 2px ;
   margin-right: 0;
}

.plus-color{
    color: #ffe500;
    font-weight: 400;
} 
.search-icon{
    background-color: white;
    color:blue ;
    padding: 10px;
}

.input-entry{
    width: 520px;
    height: 32px;
    padding: 2px;
}
.form22{
    display: flex;
    border-left: 0px;
    border-right: 0px;
}
.btn22{
    color: blue;
    background-color: white;
    border: 0 ;
    padding: 4px 12px 0px 8px;
}
.search22{
    border: 2px solid white;
    width: 500px;
    height: 36px;
    border-radius: 0px;
    padding: 0px 16px;

}
.search22:focus{
    outline : none;
}

.search-lens{
    /* font-weight: px; */
    color: #2874f0;

}
.form-astf{
    margin-top: 10px;
}
.login-class{
    color: #2874f0;
    background-color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px 40px;
    border: 1px solid #dbdbdb;
}
.login-astf{
    margin-top: 10px;
    margin-left: 33px;
}
.p-class{
    color: white;
    line-height: 20px;
    font-size: 16px;
    /* letter-spacing: .1px; */
    font-weight: 490;
    cursor: pointer;
    
}
.p-div{
    margin-top: 15px;
    margin-left: 33px;
}
.more-class{
    color: white;
    line-height: 20px;
    font-size: 16px;
    /* letter-spacing: .1px; */
    font-weight: 490;
    cursor: pointer;
}

.arrow-class{
    color: white;
    
    width: 4.7;
    height: 8;
    margin: 1px 0 0 8px;
    margin-top: 12px;
    opacity: 0.8;

}
.arrow-class:hover{

    transform: rotate(180deg);
    transform : .1s ; 
    margin-bottom: 42px;
    opacity: 0.8;
   
 }

.more-div{
display: flex;
margin-top: 15px;
    margin-left: 33px;

}
.cart-class{
    color: white;
    line-height: 20px;
    font-size: 16px;
    
    font-weight: 490;
    cursor: pointer;
}
.cart-icon{
    color: white;
    margin-top: 12px;
    margin-right: 8px;

}
.cart-div{
    display: flex;
    margin-top: 15px;
    margin-left: 33px;
}
.qscqsc{
    padding:0px;
    margin-left:-148px;
}
.modal-body{
    background-color: white;
    width: 690px  ;
    height: 372px ;
   
}
.modal-area{
    display: flex;
}
.modal-blue{
    background-color: #2874f0;
    width: 200px;
    height: 365px;
}
.modal-white{
    background-color: white;
    width: 500px;
    height: 365px;
}
.blue-image{
    margin-top: 120px;
    width: 160px;
    height: 100px;
}
.blue-line{
    color: white;
  padding-top: 20px;
    padding-left: 20px; 
    padding-bottom: 10px;
}
.span-line{
    color: white;
    padding-left: 20px; 
    font-size: 15px;
    line-height: 5px;
    
}


  .txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .txt_field label {
    
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .txt_field span::before {
    content: "";
    
    top: 40px;
    left: 0;
    width:0;
    height: 2px;
    background: #2691d9;
    transition: .5s;
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label {
    top: -5px;
    color: #2691d9;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before {
    width: 100%;
  }
  .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .logboxx{
    width: 700px;
    background-color: white;
    height: 550px;
    display: flex;
    
  }
  .mod66{
    width: 600px;
  }
  .blue11{
    background-color: #2874f0;
    width: 40%;
    
    
  }
  .white11{
    background-color: white;
    width: 55%;
  }
  .span55{
    color: white;
    width: 170px;
    font-size: large;
    margin-left: 20px;
  }

  .login2{
    color: white;
    font-size: x-large;
    font-weight: 600;
    margin-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    

  
    
 }
 .img78{
    width: 100px;
    margin-left: 20px;
    margin-top: 60%;
   
 }




 /* delte */

 .box{
    border-radius:3px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:750px;
    height: 560px;
    background:white;
    overflow: hidden;
}
.inline-text{
    color:white;
    position: absolute;
    top: 32px;
    left: 55px;
  
}
.inline-text h1{
font-size:25px;
margin-bottom: 20px;
}
.inline-text p{
    color:rgb(228, 228, 228);
    opacity:0.9;
    font-size:13px;
    letter-spacing: 1px;
}

.white11 .user-id{
    position: relative;
    left:20px;
    top:50px;
    padding:10px 20px;
    
}
.white11 .user-id input{
    width:100%;
    height: 40px; 
   
    
}
.white11  .user-data input {
    /* font-size:18px; */
    color:black;
    border:none;
    border-bottom:1px solid rgb(228, 228, 228);
    outline:none;
    background:none;
    transition: 0.5s;
    margin-bottom:20px;

    
}
.white11 .user-data label{
    color:rgb(158, 154, 154);
    padding:10px 20px;
    position: absolute;;
    top: 6px;
    left: 0;
    font-size:18px;
    font-weight:400;
    pointer-events: none;
    transition:0.5s;
    
}
.white11 .user-data input:focus ~ label,
.white11 .user-data input:valid ~ label{
    top:-20px;
    font-size:12px;
   
}
.white11 .user-data input:focus{
    border-bottom:1px solid #2874f0;
}
.white11  span .a{
    position: absolute;
    top: 140px;
    left: 315px;
    display:inline;
    color:#2874f0;
    font-weight: 600;
}
.white11  .button input{
    height:50px;
    font-size:18px;
    border:none;
    background:#fff;
    
}
.user-id p{
    margin:0;
    margin-left:148px;
    
    color:rgb(173, 173, 173);
}
.white11  .button input[type=submit]{
    background:#fb641b;
    border-radius: 2px;
    color:white;
    font-weight:500;
    font-size:15px;
    outline:none;
    transition:0.5s;
    margin-top:none;
}
.white11  .button input[type=reset]{
    box-shadow:2px 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    color:#2874f0;
    font-weight:600;
    outline:none;
    transition: 0.5s;
}
.white11  .button input[type=submit]:hover{
    box-shadow:2px 3px 5px 0 rgba(0,0,0,0.2);
}
.white11  .button input[type=reset]:hover{
    box-shadow:2px 2px 10px 0 rgba(0,0,0,0.2)
}
.user-id .footer .a{
    position: absolute;
    top: 115px;
    left: 51px;
    font-weight:600;
    text-decoration:none;
    color:#2874f0;
}
.namee{
    color: white;
    line-height: 20px;
    font-size: 16px;
    font-weight: 490;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 33px;
}

.logoutbtnnns{
    background-color: white;
    height: 90px;
    position: absolute;
    margin: 0;
    z-index: 1;
    width:100px;
    margin-left: -20px;
    /* padding-top: 10px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.vbvbvv{
    text-align: center;
    margin-top: 10px;
    border: 0px;
    background-color: #fff;
    color: black;
}
.logoutbtnnns>div{
 text-align: center;
 border-top: 1px solid blue;
 padding-bottom: 10px;

}
.iconss{
    color: steelblue;
}
.searchlist{
    background-color: white;
    min-height: 20px;
    position: absolute;
    margin: 0;
    z-index: 1;
    width:535px;
    margin-top: 3px;
    
    /* padding-top: 10px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchquerty{
    height: 20px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 6px;
    cursor: pointer;
}
.searchquerty:hover{
    color:blue
}
